@font-face{font-family:Whitney;font-style:normal;font-weight:500;src:url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2")}


body{
  font-family: var(--default-font);
}


.typeWindows__421ed {
  height: 18px;
  width: 100vw;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--bg-color);
}
.wordmarkWindows__421ed{
  color: var(--bright-color);
}
.searchBar__35e86{
  background-color: var(--main-color);
}

.winButton_c38106, .activity_a31c43{
  color: var(--bright-color);
}

.circleIconButton__5bc7e, .actionButton_f8fa06{
  background-color: var(--main-color);
  color: var(--bright-color)
}
.expandedFolderIconWrapper__48112:hover svg{
  color: var(--white-color)!important;

}
.expandedFolderIconWrapper__48112:hover {
  background: var(--bright-color)!important;

}
.expandedFolderIconWrapper__48112 svg{
  color: var(--bright-color)!important;
}
.folder__48112 >div{
  background-color: transparent;
}
.folder__48112 >div:hover{
  background-color: var(--bright-color);
}

/*channel list*/
.guilds_c48ade {
  padding-top:10px;
  margin: var(--standard-space) !important;
  margin-right: var(--standard-space) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  margin-bottom: calc(var(--custom-app-panels-height) + 2 * var(--standard-space)) !important;
}
.container__2637a{
  margin-bottom: calc( 2 * var(--standard-space)) !important;
  
}
.folderIcon__48112{
  color: var(--bright-color);
}
.visual-refresh .searchAnswer_bd8186, .visual-refresh .searchFilter_bd8186{
  background-color: var(--chat-color);
}
.visual-refresh .sidebarListRounded_c48ade{
  border-top: none;
}
.flowerStar__3e3b0, .dropdownButton__2637a,.actionIcon_c69b6d6,.icon_a08117, .button__201d5 .contents__201d5, .icon_d8bfb3, .icon_d8bfb3, .icon_e44302, .lottieIcon__5eb9b{
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);

}
 .header_f37cb1:hover {
  border-radius: var(--border-radius);
  background-color: var(--main-color)!important;
}

.header_f37cb1{
  margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-bottom: var(--standard-space)!important;
  border: var(--border-size) solid var(--main-color) !important;
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  padding: var(--standard-space) !important;
}


.avatarWrapper__37e49{
  margin-right:0px !important;
}


.scroller__629e4{
  margin: 0px !important;
  margin-right: var(--half-space) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
.scroller__36d07{
  background-color: transparent;
  margin-left:-4px;
  }
  /*playable popuout bg*/
  .contentWrapper__9c62c{
    background-color: var(--chat-color);

  }

  .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8, .wrapper_c5f96a.selected_ae80f7 .childWrapper_a6ce15,.circleIconButton__5bc7e:hover, .actionButton_f8fa06:hover{
  background-color:var(--bright-color)!important;
}
.childWrapperNoHoverBg__6e9f8, .actionButton__2b4bb,.emptyCard__204d9{
  background-color:var(--main-color)!important;

}
.expandedFolderBackground__48112{
  background-color: var(--chat-color);
}

.item_fd07a3, .guildSeparator__252b6{
  background-color: var(--bright-color);

}
/*here*/
 
.container_c48ade,  .base_c48ade,.theme-dark .container__2637a, .sidebar_c48ade, .theme-dark .chat_f75fb0, .content_a7d72e {
  
  background-color: var(--bg-color);
}
/* one of these is dms sidebar search*/
.search__97492, .searchBarComponent__35e86, .emptyText__1464f, .searchBar__97492, .search__97492 .DraftEditor-root .public-DraftEditorPlaceholder-root{
  background-color:var(--main-color)!important;

  color: var(--white-color)!important;
}
.search__97492{
  border-radius: var(--small-radius);
}
/*dms sidebar*/
.channel__972a0{
  margin-right: var(--standard-space);
}
.interactiveSelected__972a0 .text__8ac07{
  color: var(--bright-color);
}
.interactiveSelected__972a0 {
  background-color: var(--main-color);
}
.icon__97492{
  filter:brightness(0) invert(1);
}
/*dms sidebar*/
.theme-dark .scroller__99e7c, .members_c8ffbb, .member_c8ffbb, .theme-dark .scroller_c47fa9 {
  background-color: var(--chat-color);
}

.scroller__99e7c{
  margin-bottom: 0px !important;
}

/*dms*/
.privateChannels__35e86{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: 0px;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background: var(--chat-color);
  margin-bottom: calc(var(--custom-app-panels-height) + 2 * var(--standard-space));
}
/*friendlist*/
.peopleColumn__133bf{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: var(--half-space);
  margin-top: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}
.container__9293f{
  padding-left:var(--half-space) !important;
}

/*profile panel*/

.panels_c48ade{
  margin: 0px;
  border: var(--border-size) solid var(--main-color)!important;
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color) !important;
  width: calc(100% - var(--space-xs)*2 + var(--half-space))!important;
} 

.sidebar_c48ade:after{
  visibility: hidden;
}
  
/*profile title*/
.title_b6c092,.defaultColor__4bd52{
  color: var(--bright-color);
}
.subText__20a53, .subtext_f3939d {
  color:var(--main-color)
}
/*idk*/
.withTagAsButton_b2ca13,  .withTagless_b2ca13{
  margin-right:-3px;
}
button.button_ae40a4, span.button_ae40a4{
  color:var(--bright-color) !important;
}
button.button_ae40a4, span.button_ae40a4, .icon_a3b500 {
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);
}
.avatar__20a53 .linkButtonIcon__972a0{
  color: var(--bright-color);
}
.content_f75fb0{
  margin-top: var(--standard-space);

}
.chatContent_f75fb0{
  margin: var(--half-space) ;
  margin-top:0px;

  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}
/*idk*/
.container_c8ffbb{
  background-color: var(--bg-color);
}
/* members right*/
.members_c8ffbb{
margin: var(--standard-space);
margin-left:0px;
margin-top: 0px;

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
/* activity*/
.container__0f2e8{
  background-color: var(--chat-color) !important;  
  border: var(--border-size) solid var(--main-color) !important;
  margin: var(--standard-space);
}
.layer_da8173{
  border: var(--border-size) solid var(--main-color) !important;
  border-radius: var(--border-radius)!important;

}
/*pinned popout*/
.messagesPopoutWrap__45690,.interactionsContainer_af3b89{
  background-color: var(--chat-color) !important;  

}
.header__45690, .messagesPopoutWrap__45690{
  border-radius: var(--border-radius);
  background-color: var(--chat-color)!important;
}
.messageGroupWrapper__45690{
  border: var(--border-size) solid var(--main-color) !important;
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color)!important;
}
/* channel category*/
.clickable__29444   {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--small-radius);
  background-color: var(--dark-color);
  color: var(--white-color);
  margin-left:var(--standard-space);
  margin-top:-8px;
  margin-right:var(--half-space); 
}

/*title gradient*/
.theme-dark .children__9293f:after{
  background:none;

}

/*date*/
.content__908e2{
  background: var(--main-color)!important;
  color: var(--bright-color);
}

/* title */
.title_f75fb0 {
  padding-left:var(--half-space) !important;
  padding-top:0px !important;
  margin-top: var(--standard-space);
  background-color: var(--bg-color) !important;
  padding: 0px;

}
/* exit bar */
.title__85643 svg path, .title__85643 div{
  color: var(--bright-color);
  fill: var(--bright-color)!important;
}
/*title bg*/
.subtitleContainer_f75fb0, .theme-dark .themed__9293f{
  background-color: var(--bg-color) !important;

}


.children__9293f{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  padding: var(--half-space);
  margin-top: calc(var(--standard-space) + 2px);
  margin-bottom: calc(var(--standard-space) + var(--half-space));

}
.toolbar__9293f{
  border: var(--border-size) solid var(--main-color)!important;
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  margin-left:var(--standard-space);
  padding: var(--standard-space);
  margin-top: calc(var(--standard-space) + 2px);
  margin-bottom: calc(var(--standard-space) + var(--half-space));


}
.iconWrapper__9293f{
  height: auto !important;
}
/*friend list searchbar*/
.input_a45028::placeholder{
  color: var(--bright-color);
}

.icon_a45028{
  color: var(--bright-color)!important;
}
.topPill_b3f026 .themed_b3f026.selected_b3f026.item_b3f026{
  background-color: var(--main-color)!important;
}


.peopleListItem_cc6179:hover{
  background: var(--bg-color);
}
.peopleColumn__133bf{
  margin: var(--standard-space);
  margin-top: var(--half-space);
  margin-left: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}

.subtitleContainer_f75fb0, .chat_f75fb0{
  background: var(--bg-color);
}
.scroller_ef3116, .members_c8ffbb, .scrollerBase__99f8c{
  scrollbar-width: none;
}

.scrollableContainer__74017{

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--dark-color);
  z-index:1000000000000000000000000000000000;
}
.channelTextArea_f75fb0{
  background-color: transparent;
  border-radius: var(--border-radius);
  
}
.jumpToPresentBar__0f481{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  padding-bottom: 10px;  
  border-bottom: none;

}
.search__49676{
  border-radius: var(--small-radius);
}
.tabBar__133bf .item__133bf{
  color:var(--bright-color);
}

.menu_c1e9c4{
  background: var(--chat-color) !important;
  border-radius: var(--border-radius);
}
 /* idk {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background: var(--chat-color) !important;

} */
.visual-refresh .slateTextArea_ec4baf, .visual-refresh .topic__6ec1a{
  color: var(--main-color);
}

.visual-refresh .root__49fc1{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
.visual-refresh .root__49fc1 div{
  padding-right:5px;

}

.themedBackground__74017, .button_df39bd{
  background: var(--chat-color)
}
/* idk
.theme-dark .form_f75fb0:before, .theme-dark .form_f75fb0:after, .theme-dark .panel_bd8c76 {
  background:none;
}
.activityPanel_b73e7a, .container_6sXIoE{
  border-bottom: 1px solid var(--main-color)
} */

.managedReactiveScroller_d125d2::-webkit-scrollbar-thumb, .peopleList__5ec2f::-webkit-scrollbar-thumb {
  background: var(--bright-color);
}
.managedReactiveScroller_d125d2::-webkit-scrollbar, .peopleList__5ec2f::-webkit-scrollbar{
  width: 5px;
}


.theme-dark .children_cde9af:after{
  background:none;
}

/* reaction */
.reaction__23977.reactionMe__23977{
  background-color: var(--main-color);
    border-color:var(--bright-color);
}

.reactionBtn__23977.forceShow__23977:hover{
  background-color: var(--bright-color);
  color:var(--white-color)

}
/* popout */
.header_c0e32c, .categorySection_c656ac {
  background-color: var(--chat-color) ;
}

.upsellContainer__0b69f{
  background: var(--chat-color);
}
/* idk .scroller_bf550a{
  overflow: scroll !important;
} */

.quickswitcher_ac6cb0{
  background-color: var(--bg-color);
    color: var(--white-color);
}

.input_ac6cb0, .scroller_ac6cb0 {
  background-color: var(--chat-color);
}

.avatar__37e49, .avatar_fc8177, .avatar_c19a55, .avatar__91a9d{
  border: var(--border-size) solid var(--main-color);
  border-radius: 50%;
}
.actions_fc004c{
  color: var(--main-color);
}
.cozy_c19a55 .timestamp_c19a55, .content_fc5f50{
  color: var(--main-color);
  background-color: var(--chat-color);
}
.searchBar__35e86{
  background-color: var(--chat-color);
}
/* search popout*/
.resultsGroup__56fec{
  background-color:var(--chat-color);
}
/*mode selected is channel selected*/
 .modeSelected_d8bfb3 ,.modeSelected__2ea32 .link__2ea32 , .interactive_c91bad:hover, .interactiveSelected_c91bad{
  background: var(--main-color) !important;
  margin-top: var(--half-space);
}
/*channels*/
.wrapper__2ea32{
  margin-right:var(--half-space);

}
.modeSelected__2ea32:hover .name__2ea32{
  color: var(--bright-color)!important;
}
.modeSelected__2ea32 .link__2ea32, .link__2ea32:hover{
  border-bottom: 3px solid var(--bright-color);
}
.icon__2ea32{
  color:var(--bright-color) !important;
}
.name__2ea32{
  color: var(--white-color);
}
/* topbar icon */
.icon__9293f{
  color:var(--bright-color)!important;
}
.icon__9293f:hover{
  color:var(--white-color)!important;

}

/*name = dms name*/
.wrapper_d8bfb3.modeSelected_d8bfb3, .name__20a53, .modeSelected_d8bfb3 .name_d8bfb3,.interactive_c91bad:hover , .interactiveSelected_c91bad, .modeConnected__52a8f .name__4eb92, .modeConnected__52a8f:hover .name__4eb92, .modeUnreadImportant__35358 .name__4eb92, .modeUnreadImportant__35358:hover .name__4eb92{  
  color: var(--bright-color)
}
.wrapper_d8bfb3.modeSelected_d8bfb3{
border-radius: var(--small-radius);
}
/*hover popout*/
.tooltip__382e7{
  background-color: var(--bright-color);
  color: var(--white-color);
  fill: var(--bright-color);
}

.container_c8ffbb, .container_c2739c,.container_bf550a{
  background: var(--bg-color)
} 
.activityPanel_a4d4d9{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);

}
.container__13cf1:hover{
  color: var(--bright-color);
}
/* activity friends */
.visual-refresh .scroller__7d20c{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);
  margin-right:var(--standard-space);
  height:98.3%;
}
.emptyCard__7e549, .visual-refresh .wrapper__00943{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
}
/* compass thingy on guild bar*/
.listItem__650eb, .footer__214dc{
  background-color: var(--chat-color);
}
.interactive__972a0:hover, .wrapper__612a5:hover .link_ddbb36, .peopleListItem_cc6179:hover, .peopleListItem_cc6179.active__6b8ff{
  background-color: var(--dark-color);
}

.scroller__7c25e{
  border:none;
}

.container_a45028{
  background: var(--chat-color);
  border-radius: var(--border-radius);
}

.callContainer_cb9592{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-right: var(--standard-space);
}

.colorable__4f530.primaryDark_ec74a7, .colorable__4f530.primaryDark_ec74a7 .centerIcon_e3df23{
 color: var(--bright-color);
 background: var(--bg-color);
}

.colorable__4f530.white_ce1c7b, .colorable__4f530.white_ce1c7b .centerIcon_e3df23, .username__0a06e {
  color: var(--bright-color);
}

.theme-dark .footerSeparator__49fc1{
  background: var(--chat-color) !important;

}
.contents_c19a55 .slateTextArea_ec4baf{
  color: var(--white-color)!important;
}

/* .clickable__1383f:hover {
  background-color: var(--main-color);
  border-radius: var(--border-radius);

} */
.selected__987e6 .header__77c95, .clickable__1383f .header__77c95:hover {
  background-color:transparent !important;
}
/* category title */
.container__13cf1 .overflow__82b15{
color: var(--white-color);
font-family:'Whitney';
font-weight: 900;
font-size:80%;
text-transform: uppercase;
}
.mainContent__29444:hover .icon__29444,.mainContent__29444:hover .overflow__82b15{
  color: var(--bright-color);

}

.searchResultsWrap_a9e706{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin-top: var(--half-space);
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
}

.searchHeader_f3b986{
  background-color: var(--chat-color);
}

.unread__3b95d{
  background-color: var(--main-color);


}
.theme-dark .children_fc4f04:after{
  background: none !important;
}
/* chat and channel */
.divider__5126c,.sectionDivider__629e4{
  background: var(--main-color);
}
/* friend bg*/

.container__133bf {
  background-color: var(--bg-color);
  margin-top: var(--standard-space);
} 
/* activity */
.visual-refresh .panel__5dec7, .theme-dark .panel__5dec7{
  background:transparent;
}

.contentRegionScroller_c25c6d, .sidebarRegionScroller_c25c6d{
  background-color: var(--chat-color);
}
/* notif badge*/
.eyebrow__2b1f5{
  color: var(--white-color);
}
/* .withTagAsButton_b2ca13:hover .subtext_e06aad{
  color: var(--bright-color);
} */
.container_b558d0>*{
  border-left-color: var(--bright-color) !important;
}
/* threads */
.iconWrapper_ec583a{
  background-color: var(--main-color);
}
.chat_fb64c9{
  background: var(--chat-color)!important;
  margin: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
}

.container_fb64c9{
  background: var(--bg-color)!important;
}
.floating__01ae2{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin-right:var(--half-space);
  margin-bottom: var(--standard-space)

}

/* .container_fb4810 > .container_fc4f04 {
  margin-left: var(--half-space);
}

.upperContainer_fc4f04 > .toolbar_fc4f04{
  margin-right: var(--half-space);
} */

.input__0f084{
  background-color: var(--main-color);
  color: var(--bright-color);
}
/*activity button*/
.button_e6e74f{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--dark-color);
  height:100%;
  margin-bottom:auto;
}
.buttonContainer_e6e74f{
  height:100%;
}

.input__0f084::placeholder {
  color: var(--bright-color);
}

.inner_c0bea0.panel_c0bea0  {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius)!important;
  margin-bottom: var(--standard-space) !important;
  margin-left:0px;
  height:98%;
  background-color: var(--chat-color);
  margin-top: 0px;


}

/*profile popout*/
.inner_c0bea0{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius)!important;
  margin: var(--standard-space);
  background-color: var(--chat-color)!important;
  margin-left:0px;
  margin-top:0px;

}
.lookFilled__201d5.colorPrimary__201d5{
  background-color: var(--main-color);
}

.overlay_b32ca4, .overlay__3b260{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color);

}
.divider__325ce, {
  background-color:var(--main-color);
}

.outer_c0bea0 {
  background-color: var(--bg-color);
}
.theme-dark .outer_ab8609{
  border-color: var(--bright-color);
}
.inner_ab8609{
  background-color: var(--main-color);
}
.outer_ab8609:before{
  background-color: var(--main-color);
}

.header_a823cd{
  width:150%;
}

.tabBody__133bf{
   background-color: var(--bg-color)!important;
}



/*emoji popout*/

.contentWrapper__08434{
background-color: var(--chat-color)!important;
border: var(--border-size) solid var(--main-color)!important;
border-radius: var(--border-radius);
}

.wrapper__14245, .wrapper__4e6ce, .inspector_aeaaeb, .header_c0e32c{
  background-color: var(--chat-color)!important;

}
.navButtonActive__08434{
  background-color: var(--main-color)!important;
  color: var(--bright-color);
}

.container_c18ec9, .categoryItemDefaultCategorySelected_b9ee0c  {
  background-color: var(--main-color)!important;
}

.categoryIcon_b9ee0c{
  color:var(--bright-color)!important;
}

.visual-refresh .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf{
  background-color: var(--main-color);
}
.visual-refresh .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:hover{
  background-color: var(--bright-color);
}
.container__9293f {
  border-bottom: none !important;
}


:root{
  --header-primary: var(--bright-color);
  --interactive-normal: var(--bright-color) !important;
  --interactive-active: var(--white-color);
  --background-modifier-selected: var(--main-color);
  --background-modifier-hover: var(--main-color);
  --channel-icon: var(--bright-color);
  --text-muted: var(--main-color);
  --interactive-muted: var(--main-color);
  --background-secondary: var(--main-color);
  --channel-icon: var(--bright-color) !important;

  --icon-tertiary: var(--bright-color) !important;
  --icon-primary: var(--white-color) !important;
  --button-filled-brand-background: var(--main-color)!important;
  --text-primary: var(--white-color) !important;
  --text-secondary: var(--main-color) !important;
  --text-muted: var(--main-color) !important;
  --card-primary-bg: var(--chat-color) !important;
  --card-secondary-bg: var(--bg-color) !important;
  --icon-secondary: var(--main-color) !important;
  --button-filled-brand-background: var(--main-color) !important;
  --app-border-frame: transparent !important;
  --border-faint: transparent !important;
  --border-strong: transparent !important;
  --border-subtle: transparent !important;
  --channels-default: var(--bright-color) !important;
  --chat-text-muted: var(--bright-color) !important;
}

