
@font-face{font-family:Whitney;font-style:normal;font-weight:500;src:url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/fonts/cf4a8a10bbdf9b775fad41e0b9921c84.woff2) format("woff2")}


body{
  font-family: var(--default-font);
}


.typeWindows__421ed {
  height: 18px;
  width: 100vw;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: var(--bg-color);
}
.wordmarkWindows__421ed{
  color: var(--bright-color);
}
.c322aadb96ff59c9-searchBar{
  background-color: var(--main-color);
}

.c38106a3f0c3ca76-winButton, .activity_a31c43{
  color: var(--bright-color);
}

._5bc7ed9d4097f6b5-circleIconButton, .actionButton_f8fa06{
  background-color: var(--main-color);
  color: var(--bright-color)
}
._48112cbe77dc5022-folderIconWrapper:hover svg{
  color: var(--white-color)!important;

}
._48112cbe77dc5022-folderIconWrapper:hover {
  background: var(--bright-color)!important;

}
._48112cbe77dc5022-folderIconWrapper svg{
  color: var(--bright-color)!important;
}
.folder__48112 >div{
  background-color: transparent;
}
.folder__48112 >div:hover{
  background-color: var(--bright-color);
}
/* mentions */
.mention__3b95d{
    background-color: var(--bright-color);

}
.ef3116c2da186559-wrapper{
  mask: none!important;
}
/*channel list*/
._5e434347c823b592-guilds  {
  padding-top:10px;
  margin: var(--standard-space) !important;
  margin-right: var(--standard-space) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  margin-bottom: calc(var(--custom-app-panels-height) + 2 * var(--standard-space)) !important;
}
._2637a2609f343032-container{
  margin-bottom: calc( 2 * var(--standard-space)) !important;
  
}
._48112cbe77dc5022-folderIcon{
  color: var(--bright-color);
}
.bd818628221af7aa-searchAnswer, .bd818628221af7aa-searchFilter{
  background-color: var(--chat-color);
}
._5e434347c823b592-sidebarListRounded{
  border: none;
}
.flowerStar__3e3b0, .f37cb1984c371ee5-headerChildren,.c69b6db0641110f6-actionIcon, ._201d5e8a3c09670a-button, ._5eb9b3cc7c2b1ce8-lottieIcon{
  filter: brightness(0) saturate(100%) invert(66%) sepia(68%) saturate(3866%) hue-rotate(129deg) brightness(95%) contrast(101%);

}
.rtcConnectionStatusLabel__06d62{
  z-index: 1000;
}
.connection_e131a9{
  height: 32px!important;
}
 /* .header_f37cb1:hover {
  border-radius: var(--border-radius);
  background-color: var(--main-color)!important;
} */

.f37cb1984c371ee5-header{
  margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-bottom: var(--standard-space)!important;
  border: var(--border-size) solid var(--main-color) !important;
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  padding: var(--standard-space) !important;
}

._36d072eab2b2e737-scrollerSpacer{
    height: calc(var(--space-16)*2) !important;
}
._37e49614b9f110a9-avatarWrapper{
  margin-right:0px !important;
}
.labelWrapper__06d62 {
  bottom:0;
  position:relative;
}

._629e4c86564a4ee7-scroller{
  margin: 0px !important;
  margin-right: var(--half-space) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
  margin-bottom: var(--standard-space) !important;
}
._36d072eab2b2e737-scroller{
  background-color: transparent;
  margin-left:-4px;
  }
  /*playable popuout bg*/
  .contentWrapper__9c62c{
    background-color: var(--chat-color);

  }


._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-childWrapper,._5bc7ed9d4097f6b5-circleIconButton:hover{
  background-color:var(--bright-color)!important;
}
._6e9f8dce4cc18de3-childWrapper{
  background-color:var(--main-color)!important;

}
._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderGroupBackground{
  background-color: var(--chat-color);
}

._252b6afd49fda06f-guildSeparator{
  background-color: var(--bright-color);

}
/*here*/
 
._2637a2609f343032-container, .f75fb00fb7356cbe-chat, .f75fb00fb7356cbe-content{
  
  background-color: var(--bg-color);
}
/*  dms sidebar search searchBar_e6b769*/ 
/* {
  background-color:var(--main-color)!important;

  color: var(--white-color)!important;
} */
.ec4baf0360ff3578-slateTextArea{
  color: var(--bright-color)!important;

}
._1b31f471f0bb10ab-placeholder {
  color:var(--main-color)!important;
}
.overflow__82b15{
  color:var(--bright-color);
}


/*dms sidebar*/
._972a0d22c8afa7f0-channel{
  margin-right: var(--standard-space);
}
._972a0d22c8afa7f0-interactive{
  color: var(--bright-color);
}
._972a0d22c8afa7f0-interactive:active, ._972a0d22c8afa7f0-interactiveSelected {
  background-color: var(--main-color)!important;
}

/*dms sidebar*/
.c8ffbb79449f399c-members, ._99e7cad8d4c55236-scroller {
  background-color: var(--chat-color);
}
._99e7cad8d4c55236-scroller{
  margin-bottom: 0;
}
._5e434347c823b592-sidebar{

 background-color: var(--bg-color) !important;
  border: none !important;
  border-radius: 0 !important;
}
._5e434347c823b592-content{   
   background-color: var(--bg-color) !important;

}



/*dms*/
.e6b7699ce8339e1c-privateChannels{
    margin-bottom: calc(var(--custom-app-panels-height, 0) + calc(var(--standard-space)*2));
    margin-top:var(--standard-space);
    margin-right: var(--half-space);
    border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background: var(--chat-color);
  }
/*friendlist*/
._133bf5eea8e33a34-peopleColumn{
  margin: var(--standard-space);
  margin-right: var(--half-space);
  margin-left: var(--half-space);
  margin-top: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}

/*profile panel*/

._5e434347c823b592-panels {
  border: var(--border-size) solid var(--main-color)!important;
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color) !important;
} 

._5e434347c823b592-sidebar:after{
    visibility: hidden  !important;
}
  
/*profile title*/
.b6c092614b8d59f3-title,._4bd5201c86a2042b-defaultColor, ._339d0fce6b76910a-subtext{
  color: var(--bright-color) !important;
}

._20a53846fe2e8513-avatar ._972a0d22c8afa7f0-linkButtonIcon{
  color: var(--bright-color);
}
.f75fb00fb7356cbe-content{
  margin-top: var(--standard-space);

}
.f75fb00fb7356cbe-chatContent{
  margin: var(--half-space) ;
  margin-top:0px;

  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
}
/*idk*/
.c8ffbb79449f399c-container{
  background-color: var(--bg-color);
}
/* members right*/
.c8ffbb79449f399c-members{
margin: var(--standard-space);
margin-left:0px;
margin-top: 0px;

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}
/* activity*/
._0f2e83213c878a13-container{
  background-color: var(--chat-color) !important;  
  border: var(--border-size) solid var(--main-color) !important;
  margin: var(--standard-space);
}
._36d072eab2b2e737-chatGradient{
  background: none;
}

/*pinned popout*/
.e8b59c4b335dd2fc-messagesPopoutWrap,.e8b59c4b335dd2fc-messageGroupWrapper{
  background-color: var(--chat-color) !important;  

}
.e8b59c4b335dd2fc-header, .e8b59c4b335dd2fc-messagesPopoutWrap{
  border-radius: var(--border-radius);
  background-color: var(--chat-color)!important;
}
.e8b59c4b335dd2fc-messagesPopoutWrap, .e8b59c4b335dd2fc-messageGroupWrapper {
  border: var(--border-size) solid var(--main-color) !important;
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color)!important;
}
/* channel category*/
._29444ba32c7fbeab-clickable {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--small-radius);
  background-color: var(--dark-color);
  color: var(--white-color);
  margin-left:var(--standard-space);
  margin-top:-8px;
  margin-right:var(--half-space); 
}

/*title gradient*/
._9293f6b2fc12398a-children:after{
  background:none;

}

/*date*/
._908e20001ad67812-content{
  background: var(--main-color)!important;
  color: var(--bright-color);
}

/* title */
.f75fb00fb7356cbe-title {
  padding-left:var(--half-space) !important;
  padding-top:0px !important;
  margin-top: var(--standard-space);
  background-color: var(--bg-color) !important;
  padding: 0px;

}
.c38106a3f0c3ca76-bar{
  background-color: var(--bg-color);
}
/* exit bar */
._85643a485899904b-button svg path, ._85643a485899904b-button div, ._9293f6b2fc12398a-clickable svg path, ._9293f6b2fc12398a-channelIcon svg path, .f37cb1984c371ee5-inviteButton{
  color: var(--bright-color);
  fill: var(--bright-color)!important;
}
.c99c29809d200a61-clickable svg{
  height: 20px;
  color:var(--bright-color);
}
.c99c29809d200a61-clickable svg:hover,.f37cb1984c371ee5-inviteButton:hover, ._85643a485899904b-button svg path:hover, ._9293f6b2fc12398a-clickable svg path:hover, ._9293f6b2fc12398a-channelIcon svg path:hover{
  color:var(--white-color);
    fill:var(--white-color)!important;
}
/*title bg*/
.f75fb00fb7356cbe-subtitleContainer, .theme-dark ._9293f6b2fc12398a-themed{
  background-color: var(--bg-color) !important;

}


._9293f6b2fc12398a-children{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  padding: var(--half-space);
  margin-top: calc(var(--standard-space) + 2px);
  margin-bottom: calc(var(--standard-space) + var(--half-space));

}
._9293f6b2fc12398a-toolbar{
  border: var(--border-size) solid var(--main-color)!important;
  border-radius: var(--border-radius);
  background-color: var(--chat-color) !important;
  margin-left:var(--standard-space);
  padding: var(--standard-space);
  margin-top: calc(var(--standard-space) + 2px);
  margin-bottom: calc(var(--standard-space) + var(--half-space));


}
._9293f6b2fc12398a-iconWrapper{
  height: auto !important;
}
/*friend list searchbar*/
._0f0849b61557225e-input::placeholder{
  color: var(--bright-color);
}

._0f0849b61557225e-icon svg path{
  fill: var(--bright-color)!important;
}
.aa8da23faa27393c-topPill .aa8da23faa27393c-selected{
  background-color: var(--main-color)!important;
}


.cc61794aab086a2e-peopleListItem:hover{
  background: var(--bg-color);
}
._133bf5eea8e33a34-peopleColumn{
  margin: var(--standard-space);
  margin-top: var(--half-space);
  margin-left: var(--half-space);
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--chat-color);
}

.f75fb00fb7356cbe-subtitleContainer, .f75fb00fb7356cbe-chat{
  background: var(--bg-color);
}
.ef3116c2da186559-wrapper, .c8ffbb79449f399c-members, .d125d22cdfd32cfe-scrollerBase{
  scrollbar-width: none;
}

._740174f3d6a2c8fe-scrollableContainer{

  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--dark-color);
  z-index:1000000000000000000000000000000000;
}
.f75fb00fb7356cbe-channelTextArea{
  background-color: transparent;
  border-radius: var(--border-radius);
  
}
._0f481cbbd7530492-jumpToPresentBar{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  margin-left: 10%;
  width: 80%!important;

}
.a22cb0c66246f5d3-primary{
    background-color: var(--main-color)!important;

}
._0f481cbbd7530492-jumpToPresentBar::before{
  display: none;
}
._496769951eb140fe-search{
  border-radius: var(--small-radius);
}
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-item{
  color:var(--bright-color)!important;
} 
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend{
  background-color: var(--main-color);
}
._133bf5eea8e33a34-tabBar ._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend._133bf5eea8e33a34-addFriend:hover{
background-color: var(--bright-color);
color:var(--white-color)!important;
}

._6ec1a06139ec3b27-topic{
  color: var(--main-color);
}


._740174f3d6a2c8fe-themedBackground{
  background: var(--chat-color)
}


/* reaction */

/* popout */
.c0e32c5cffed3d9f-header, .c656aca9a3db31a9-categorySection {
  background-color: var(--chat-color) ;
}

._0b69f200eb3bf411-upsellContainer{
  background: var(--chat-color);
}
/* idk .scroller_bf550a{
  overflow: scroll !important;
} */

.quickswitcher_ac6cb0{
  background-color: var(--bg-color);
    color: var(--white-color);
}

._0f0849b61557225e-input, ._084343c4f11eaaab-contentWrapper, ._14245bb948377a25-wrapper,.affa7e120767dd82-scroller {
  background-color: var(--chat-color);
}

._37e49614b9f110a9-avatar, .fc817765600a960a-avatar, .c19a557985eb7793-avatar, ._91a9d7f7e5248a56-avatar{
  border: var(--border-size) solid var(--main-color);
  border-radius: 50%;
}

.c19a557985eb7793-timestamp{
  color: var(--main-color);
  background-color: var(--chat-color);
}
.searchBar__35e86{
  background-color: var(--chat-color);
}
/* search popout*/
.b6544fb09f373e60-container{
  background-color:var(--chat-color);
  margin-top:var(--standard-space);
     border: var(--border-size) solid var(--main-color)!important ;

}
/*mode selected is channel selected*/
 ._2ea32c412048f708-modeSelected, .interactive_c91bad:hover, .interactiveSelected_c91bad{
  background: var(--main-color) !important;
  margin-top: var(--half-space);
  margin-right: var(--half-space);
  border-radius: var(--small-radius);
}

/*channels*/
._2ea32c412048f708-wrapper{
  margin-right:var(--half-space);

}
._2ea32c412048f708-link:hover{
  border-bottom: 3px solid var(--bright-color);
}
._2ea32c412048f708-icon{
  color:var(--bright-color) !important;
}
._2ea32c412048f708-name{
  color: var(--white-color);
}
/* topbar icon */
._9293f6b2fc12398a-icon{
  color:var(--bright-color)!important;
}
._9293f6b2fc12398a-icon:hover{
  color:var(--white-color)!important;

}

/*name = dms name*/
._20a53846fe2e8513-name {
  color: var(--bright-color)
}

/*hover popout*/
._4e35b986167c457d-tooltipWithShortcut{
  background-color: var(--bright-color);
  color: var(--white-color);
  fill: var(--bright-color);
}

.tooltipPointer__382e7 {
    border-top-color: var(--bright-color)!important;
}



._13cf1aa56cd732d2-container:hover{
  color: var(--bright-color);
}
/* activity friends */
._7d20cf18f8a2784c-scroller{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);
  margin-right:var(--standard-space);
  height:98.3%;
}
._7e549558f336cddb-emptyCard,  .wrapper__00943{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
}
/* compass thingy on guild bar*/
._650eb104245d257b-listItem, .footer__214dc{
  background-color: var(--chat-color);
}
._972a0d22c8afa7f0-interactive:hover, .wrapper__612a5:hover .link_ddbb36, .cc61794aab086a2e-peopleListItem:hover{
  background-color: var(--dark-color);
}

._972a0d22c8afa7f0-dm ._972a0d22c8afa7f0-interactive {
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
}
.a22cb0c66246f5d3-button  {
 border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
    background-color: var(--dark-color);

 }
.a22cb0c66246f5d3-button:hover{
   border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  background-color: var(--main-color);
 }




.callContainer_cb9592{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin: var(--half-space);
  margin-top: var(--standard-space);
  margin-right: var(--standard-space);
}

.colorable__4f530.primaryDark_ec74a7, .colorable__4f530.primaryDark_ec74a7 .centerIcon_e3df23{
 color: var(--bright-color);
 background: var(--bg-color);
}

.colorable__4f530.white_ce1c7b, .colorable__4f530.white_ce1c7b .centerIcon_e3df23, .username__0a06e {
  color: var(--bright-color);
}

.theme-dark .footerSeparator__49fc1{
  background: var(--chat-color) !important;

}
.contents_c19a55 .slateTextArea_ec4baf{
  color: var(--white-color)!important;
}

/* .clickable__1383f:hover {
  background-color: var(--main-color);
  border-radius: var(--border-radius);

} */
.selected__987e6 .header__77c95, .clickable__1383f .header__77c95:hover {
  background-color:transparent !important;
}
/* category title */
._13cf1aa56cd732d2-container {
color: var(--white-color);
font-family:'Whitney';
font-weight: 600;
font-size:80%;
text-transform: uppercase;
}
._29444ba32c7fbeab-mainContent:hover ._29444ba32c7fbeab-icon,._29444ba32c7fbeab-mainContent:hover .b0dfc2ed9c57037d-overflow{
  color: var(--bright-color);

}

.a98f3b020416ad54-searchResultsWrap{
  background: var(--chat-color) !important;
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius);
  margin-top: var(--half-space);
  margin-bottom: var(--standard-space);
  margin-right: var(--standard-space);
}

.ae7890a1b8e75804-searchHeader{
  background-color: var(--chat-color);
}

._3b95d7d910416e54-unread{
  background-color: var(--main-color);


}

/* chat and channel */
._5126c0cd07f243a0-divider,._629e4c86564a4ee7-sectionDivider{
  background: var(--main-color);
}
/* friend bg*/

._133bf5eea8e33a34-container {
  background-color: var(--bg-color);
  margin-top: var(--standard-space);
} 

/* notif badge*/
.eyebrow__2b1f5{
  color: var(--white-color);
}



._72c3859781ebce8f-wrapper{
  border-radius: var(--small-radius);
  border: var(--border-size) solid var(--main-color);
  background-color: var(--main-color);
  color: var(--bright-color);

}
 ._0f0849b61557225e-input{
  padding-left: 5px!important;
}
/*activity button*/
.button_e6e74f{
  border-radius: var(--border-radius);
  height:100%;
  margin-bottom:auto;
}
.buttonContainer_e6e74f{
  height:100%;
}

._0f0849b61557225e-input::placeholder {
  color: var(--bright-color);
}



/*profile popout*/
.c0bea05627c5dc35-outer{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius)!important;
  margin: var(--standard-space);
  background-color: var(--chat-color)!important;
  margin-left:0px;
  margin-top:0px;

}


.overlay_b32ca4, .overlay__3b260{
  border: var(--border-size) solid var(--main-color);
  border-radius: var(--border-radius)!important;
  background-color: var(--chat-color);

}




/*emoji popout*/

._084343c4f11eaaab-contentWrapper{
background-color: var(--chat-color)!important;
border: var(--border-size) solid var(--main-color)!important;
border-radius: var(--border-radius);
}

.c0e32c5cffed3d9f-header{
  background-color: var(--chat-color)!important;

}
.aeaaeb2a573807f0-inspector{
  border-radius: var(--border-radius);
    background-color: var(--chat-color)!important;


}

.mana-text-inputs ._72c3859781ebce8f-wrapper:not([data-read-only=true]):has(input:focus,textarea:focus){
  outline:none;
}
._084343c4f11eaaab-navButtonActive{
  background-color: var(--main-color)!important;
  color: var(--bright-color);
}

.container_c18ec9, .categoryItemDefaultCategorySelected_b9ee0c  {
  background-color: var(--main-color)!important;
}

.categoryIcon_b9ee0c{
  color:var(--bright-color)!important;
}

.visual-refresh .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf{
  background-color: var(--main-color);
}
.visual-refresh .tabBar__133bf .addFriend__133bf.addFriend__133bf.addFriend__133bf:hover{
  background-color: var(--bright-color);
}
.container__9293f {
  border-bottom: none !important;
}
._740174f3d6a2c8fe-spacer{
  display:none;

}
._04eede68d145ae81-spriteGreyscale{
filter: brightness(0) saturate(100%) invert(67%) sepia(37%) saturate(6120%) hue-rotate(130deg) brightness(96%) contrast(101%);}
._740174f3d6a2c8fe-buttons svg path{
fill: var(--bright-color)!important;
}
._04eede68d145ae81-emojiButtonHovered{
  filter:none!important;
}
/*emoji reaction popout*/
.popoverReactionHoverBar_f84418{
background-color: var(--chat-color)!important;
border: var(--border-size) solid var(--main-color)!important;
border-radius: var(--border-radius);  
}


:root{
  --header-primary: var(--bright-color);
  --interactive-normal: var(--bright-color) !important;
  --interactive-active: var(--white-color);
  --background-modifier-selected: var(--main-color);
  --background-modifier-hover: transparent!important;
  --channel-icon: var(--bright-color);
  --text-muted: var(--main-color);
  --interactive-muted: var(--main-color);
  --background-secondary: var(--main-color);
  --channel-icon: var(--bright-color) !important;

  --icon-tertiary: var(--bright-color) !important;
  --icon-primary: var(--white-color) !important;
  --button-filled-brand-background: var(--main-color)!important;
  --text-primary: var(--white-color) !important;
  --text-secondary: var(--main-color) !important;
  --text-muted: var(--main-color) !important;
  --card-primary-bg: var(--chat-color) !important;
  --card-secondary-bg: var(--bg-color) !important;
  --icon-secondary: var(--main-color) !important;
  --button-filled-brand-background: var(--main-color) !important;
  --app-border-frame: transparent !important;
  --border-faint: transparent !important;
  --border-strong: transparent !important;
  --border-subtle: transparent !important;
  --channels-default: var(--bright-color) !important;
  --chat-text-muted: var(--bright-color) !important;
  --background-floating: var(--bright-color) !important;
}

